<ion-header [translucent]="true" class="header">
  <ion-img src="assets/logo.png" class="img"></ion-img>
  </ion-header>
  <ion-content>

    <ion-grid>
      <ion-row class="row1">
        <ion-col size="4" class="content1">
        
          <ion-label class="menu" (click)="moveToLog()">Logout</ion-label>
          <br>
          <br>
          <ion-label class="menu">FAQ</ion-label>
          <br>
          <br>
      <ion-label class="menu">Contact Us</ion-label>
        </ion-col>
        <ion-col size="8" class="content2">
        
          <ion-row>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">1</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">2</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">3</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">4</div>
            </div>
            </ion-col>
            <ion-col>
              
              <ion-label style="margin-left: -60px;" color="primary">Primary classification</ion-label>
              <div class="horizonal"></div>
              <div class="vertical"></div>
              <div class="backnum">
              <div class="numbor">5</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">6</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">7</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">8</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">9</div>
            </div>
            </ion-col>
          </ion-row>
          <ion-progress-bar value="0.1" class="bar1"></ion-progress-bar>
         <br>
            <h4 style="text-align: center;color: red;">The new bank account has been added successfully</h4>
            <h4 style="text-align: center;">Please specify a category and a sub category that best describes your business.</h4>

  <ion-row class="back" style="
  padding: 5px;margin-top: 2px;text-align: center;justify-content: center;color: black;font-weight: bold;">Bank Account Details</ion-row>       
  <ion-row class="back" style="
  padding: 5px;margin-top: 2px;text-align: center;justify-content: start;color: black;font-weight: bold;">General Details</ion-row>       
  
  <div class="login" style="margin-top: 2px;">
    <ion-row class="wholeclass">
      <ion-col class="back" size="3">
        <ion-label style="text-align: right;color: red;">
  Category:
        </ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-select [(ngModel)] ="vendorbusiCatg.category" style="border: 1px solid lightgray;">
          <ion-select-option>Agriculture and Land</ion-select-option>
          <ion-select-option>Antenna</ion-select-option>
          <ion-select-option>Charity</ion-select-option>
          <ion-select-option>Hotel and accommodation</ion-select-option>
          <ion-select-option>Infrastructure</ion-select-option>
          <ion-select-option>IP Platform</ion-select-option>
          <ion-select-option>IT</ion-select-option>
          <ion-select-option>Legal and Tax related</ion-select-option>
          <ion-select-option>Marketing,Communication & PR</ion-select-option>
          <ion-select-option>Measure & Test</ion-select-option>
          <ion-select-option>Others</ion-select-option>
          <ion-select-option>Printing and Publications</ion-select-option>
          <ion-select-option>Professional Services</ion-select-option>
          <ion-select-option>Public Administration office</ion-select-option>
          <ion-select-option>Restaurant</ion-select-option>
          <ion-select-option>RF</ion-select-option>
          <ion-select-option>Service Partners</ion-select-option>
          <ion-select-option>Space segment</ion-select-option>
          <ion-select-option>Terminal Equipment</ion-select-option>
          <ion-select-option>Travel and Expenses</ion-select-option>
          <ion-select-option>Utilities(Gas,Electricity,water)</ion-select-option>
          <ion-select-option>Video equipment and services</ion-select-option>
        </ion-select>
      <ion-label *ngIf="categNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
    </ion-row>
    <ion-row class="wholeclass" style="margin-top: 2px;">
      <ion-col class="back" size="3">
        <ion-label style="text-align: right;color: red;">
  Sub Category:
        </ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-select [(ngModel)]="vendorbusiCatg.subcategory" style="border: 1px solid lightgray;">
          <ion-select-option>Small Antennas</ion-select-option>
          <ion-select-option>xyz</ion-select-option>
        </ion-select>
      <ion-label *ngIf="subcategNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
    </ion-row>
    <ion-row class="back" style="margin-top: 2px;justify-content: end;">
      <ion-col size="8"></ion-col>
      <ion-col size="4">
        <ion-button class="btnLogin" (click)="moveToBack()"> 
          <ion-icon name="chevron-back"></ion-icon>
          <ion-icon name="chevron-back" style="margin-left: -10px;"></ion-icon>Back
        </ion-button>
    
        <ion-button class="btnLogin" (click)="moveTo()">Next
          <ion-icon name="chevron-forward"></ion-icon>
          <ion-icon name="chevron-forward" style="margin-left: -10px;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  
  </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
  

<ion-footer style="position: relative;">
  <div class="footer"></div>
  <ion-row>
    <ion-col>
<ion-label style="margin-left: 5px;font-weight: bold;">© 2017 SES S.A. All rights reserved.</ion-label>
</ion-col>

 
  
<ion-col></ion-col>
<ion-label style="margin-top: 10px;">Follow Us</ion-label>
<ion-col>
  <ion-row>
  <ion-img src="assets/twitter.png" class="icon"></ion-img>
  
  <ion-img src="assets/facebook.png" class="icon"></ion-img>
  

  <ion-img src="assets/youtube.png" class="icon"></ion-img>

  <ion-img src="assets/linkedin.png" class="icon"></ion-img>

  <ion-img src="assets/instagram.png" class="icon"></ion-img> 
  <ion-label style="font-weight: bold;padding-left: 10px;">| Privacy</ion-label>
  <ion-label style="font-weight: bold;padding-left: 10px;">| Terms and Conditions</ion-label>
</ion-row>
</ion-col>
</ion-row>
</ion-footer>