<ion-header [translucent]="true" class="header">
  <ion-img src="assets/logo.png" class="img"></ion-img>
  </ion-header>
  <ion-content>

    <ion-grid>
      <ion-row class="row1">
        <ion-col size="4" class="content1">
        
          <ion-label class="menu" (click)="Logout()">Logout</ion-label>
          <br>
          <br>
          <ion-label class="menu">FAQ</ion-label>
          <br>
          <br>
      <ion-label class="menu">Contact Us</ion-label>
        </ion-col>
        <ion-col size="8" class="content2" style="margin-top: 20px;">
        
          <ion-row>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">1</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">2</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">3</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">4</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">5</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">6</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">7</div>
            </div>
            </ion-col>
            <ion-col class="mar">
              <div class="backnum">
              <div class="numbor1">8</div>
            </div>
            </ion-col>
            <ion-col >
              <ion-label style="margin-left: -45px;" color="primary">Thank you</ion-label>
              <div class="horizonal"></div>
              <div class="vertical"></div>
              <div class="backnum">
              <div class="numbor">9</div>
            </div>
            </ion-col>
          </ion-row>
          <ion-progress-bar value="0.1" class="bar1"></ion-progress-bar>
         <br>
         <br>
          <h4 style="">
          Your has been submitted for review. Once it is confirmed you will receive an email notification with your permanent Vendor credentials. You will always be able to log in, view your profile, and it if necessary.
          </h4>
  
  
  </ion-col>
      </ion-row>
    </ion-grid>
  
    <!-- <ion-button (click)="submitLogin()">submitt</ion-button> -->
  </ion-content>


<ion-footer style="position: relative;">
  <div class="footer"></div>
  <ion-row>
    <ion-col>
<ion-label style="margin-left: 5px;font-weight: bold;">© 2017 SES S.A. All rights reserved.</ion-label>
</ion-col>

 
  
<ion-col></ion-col>
<ion-label style="margin-top: 10px;">Follow Us</ion-label>
<ion-col>
  <ion-row>
  <ion-img src="assets/twitter.png" class="icon"></ion-img>
  
  <ion-img src="assets/facebook.png" class="icon"></ion-img>
  

  <ion-img src="assets/youtube.png" class="icon"></ion-img>

  <ion-img src="assets/linkedin.png" class="icon"></ion-img>

  <ion-img src="assets/instagram.png" class="icon"></ion-img> 
  <ion-label style="font-weight: bold;padding-left: 10px;">| Privacy</ion-label>
  <ion-label style="font-weight: bold;padding-left: 10px;">| Terms and Conditions</ion-label>
</ion-row>
</ion-col>
</ion-row>
</ion-footer>
  