.back1{
    text-align-last: start;
    border-left: 2px solid white;
    background: #d9d9ff;

}
.back-col{
    text-align-last: start;
    border-left: 2px solid white;


}
.highlight{
    text-align-last: start;
    color: var(--ion-color-primary);
}
.highlight1{
    text-align-last: start;
    color: var(--ion-color-secondary);
    text-decoration: underline;
}
.background{
    background: #fbfaff;
}
.background1{
    background: #f3f3ff;
}