<ion-header [translucent]="true" class="header">
  <ion-img src="assets/logo.png" class="img"></ion-img>
  </ion-header>


<ion-content>

  <ion-grid>
    <ion-row class="row1">
      <ion-col size="4" class="content1">
      
        <ion-label class="menu" (click)="moveToLog()">Logout</ion-label>
        <br>
        <br>
        <ion-label class="menu">FAQ</ion-label>
        <br>
        <br>
    <ion-label class="menu">Contact Us</ion-label>
      </ion-col>
      <ion-col size="8" class="content2">
      
        <ion-row>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">1</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">2</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">3</div>
          </div>
          </ion-col>
          <ion-col>
            <ion-label style="margin-left: -55px;" color="primary">Bank details</ion-label>
              <div class="horizonal"></div>
              <div class="vertical"></div>
            <div class="backnum">
            <div class="numbor">4</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">5</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">6</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">7</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">8</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">9</div>
          </div>
          </ion-col>
        </ion-row>
        <ion-progress-bar value="0.1" class="bar1"></ion-progress-bar>
       <br>
        <h4 style="text-align: center;">Please provide us with your up-to-date bank account details.</h4>
<h4 style="text-align: center;color: red;">The new contact has been added successfully</h4>
<ion-row class="back" style="
padding: 5px;margin-top: 2px;text-align: center;justify-content: center;color: black;font-weight: bold;">Bank Account Details</ion-row>       
<ion-row class="back" style="
padding: 5px;margin-top: 2px;text-align: center;justify-content: start;color: black;font-weight: bold;">General Details</ion-row>       

<div class="login" style="margin-top: 2px;">
  <ion-row class="wholeclass">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
Bank Country:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-select style="border: 1px solid lightgray;" [(ngModel)]="BankDetails.country">
        <ion-select-option>Belgium</ion-select-option>
        <ion-select-option>France</ion-select-option>
      </ion-select>
      <ion-label *ngIf="countryNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;">
   IBAN Account:
      </ion-label>
    </ion-col>
    <ion-col size="9">
 <ion-checkbox style="    vertical-align: bottom;"></ion-checkbox>
 <ion-label style="margin-left:5px;">Yes, we have an IBAN account.</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
  Bank Account Number:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" [(ngModel)]="BankDetails.Account_no"></ion-input>
      <ion-label *ngIf="AccouNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
    </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
  Bank Code/Key:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" [(ngModel)]="BankDetails.bank_code"></ion-input>
      <ion-label *ngIf="bankcodeNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
  Bank Name:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" [(ngModel)]="BankDetails.bank_name"></ion-input>
      <ion-label *ngIf="bankNameNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
 Street:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" [(ngModel)]="BankDetails.street"></ion-input>
      <ion-label *ngIf="streetNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
  City:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" [(ngModel)]="BankDetails.city"></ion-input>
      <ion-label *ngIf="cityNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="text-align: right;color: red;">
  SWIFT/BIC:
      </ion-label>
    </ion-col>
    <ion-col size="9">
     <ion-input class="input" style="width: 150px;" [(ngModel)]="BankDetails.swift_bic"></ion-input>
      <ion-label *ngIf="swiftNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="color: red;">
Currency:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-select style="border: 1px solid lightgray;" [(ngModel)]="BankDetails.currency">
        <ion-select-option>Euro</ion-select-option>
        <ion-select-option>Rupee</ion-select-option>
      </ion-select>
      <ion-label *ngIf="currencyNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="wholeclass" style="margin-top: 2px;">
    <ion-col class="back" size="3">
      <ion-label style="color: red;">
Bank Details Document:
<p style="color: red;">Please upload a PDF of an officical document confirming your banking details.</p>
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <!-- <ion-button class="btnLogin"> 
        Browse...
      </ion-button> -->
     <ion-input type="file" class="input" style="width: 150px;" [(ngModel)]="BankDetails.document"></ion-input>

      <ion-label style="vertical-align: sub;">   No file selected.</ion-label>
      <ion-label *ngIf="docNot" style="color: red;">*Please fill this field</ion-label>
    </ion-col>
    </ion-row>
  <ion-row class="back" style="margin-top: 2px;justify-content: end;">
    <ion-col size="8"></ion-col>
    <ion-col size="4">
      <ion-button class="btnLogin" (click)="moveToBack()"> 
        <ion-icon name="chevron-back"></ion-icon>
        <ion-icon name="chevron-back" style="margin-left: -10px;"></ion-icon>Back
      </ion-button>
  
      <ion-button class="btnLogin" (click)="moveTo()">Next
        <ion-icon name="chevron-forward"></ion-icon>
        <ion-icon name="chevron-forward" style="margin-left: -10px;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>

</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!--<ion-slides pager="true" [options]="slideOpts">  
  
  <ion-slide>  
    <img src="assets/jtp_logo.png"/>  
    <h2>Welcome to the <b>JavaTpoint</b></h2>  
    <p>JavaTpoint offers Corporate Training, Summer Training, Online Training and Winter Training on Java, Android, Python, Oracle, PHP, and many more technologies.</p>  
  </ion-slide>  

  <ion-slide>  
    <img src="assets/ionic_logo1.png"/>  
    <h2>What is Ionic?</h2>  
    <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>  
  </ion-slide> 
  <ion-slide>  
    <img src="assets/ionic_logo1.png"/>  
    <h2>What is Ionic?</h2>  
    <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>  
  </ion-slide>   
  </ion-slides>-->

<ion-footer style="position: relative;">
  <div class="footer"></div>
  <ion-row>
    <ion-col>
<ion-label style="margin-left: 5px;font-weight: bold;">© 2017 SES S.A. All rights reserved.</ion-label>
</ion-col>

 
  
<ion-col></ion-col>
<ion-label style="margin-top: 10px;">Follow Us</ion-label>
<ion-col>
  <ion-row>
  <ion-img src="assets/twitter.png" class="icon"></ion-img>
  
  <ion-img src="assets/facebook.png" class="icon"></ion-img>
  

  <ion-img src="assets/youtube.png" class="icon"></ion-img>

  <ion-img src="assets/linkedin.png" class="icon"></ion-img>

  <ion-img src="assets/instagram.png" class="icon"></ion-img> 
  <ion-label style="font-weight: bold;padding-left: 10px;">| Privacy</ion-label>
  <ion-label style="font-weight: bold;padding-left: 10px;">| Terms and Conditions</ion-label>
</ion-row>
</ion-col>
</ion-row>
</ion-footer>