
.head{
    border-left: 2px solid white;
    background: #d9d9ff;
    text-align: center;
}
.head1{
    border-left: 2px solid white;
    background: rgb(252, 250, 250);
    text-align: center;
}
.highlight{
    color: var(--ion-color-secondary);
    text-align: center;
}
