/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header {
    min-height: 100px;
    background-image: linear-gradient(to right,hsl(319, 64, 58),hsl(206, 68, 61));
  }
.img{
    height: 99px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 80%;
}
.menu{
    color: black;
}
.menu:hover{
    color: hsl(319, 64, 58);
}
ion-footer{
    position: relative;
}
.footer {
    min-height: 50px;
    position: relative;
    background-image: linear-gradient(to right,hsl(319, 64, 58),hsl(206, 68, 61));
    
  }
  .icon{
    height: 25px;width: 25px;padding-left: 10px;
}
.back{
    background: #d9d9ff;
    text-align-last: end;
}
.wholeclass{
    background: rgb(252, 250, 250);
}
.input{
    border: 1px solid lightgray;
}
.btnLogin{
    --background: lightgray;
    color: black;
    border: 1px solid grey;
    border-radius: 1px;
    text-transform: capitalize;
}
.content1{
    flex-wrap: nowrap;
    height: fit-content;
}
.content2{
    flex-wrap: nowrap;
    height: fit-content;
}
ion-progress-bar{
     background: linear-gradient(to right,red,yellow,green);
     height: 8px;
    --buffer-background: linear-gradient(to right,red,yellow,green);
    --progress-background: red;

}
.numbor{
    border-radius: 46%;
    border: 1px solid var(--ion-color-primary);
    text-align: center;
    color: var(--ion-color-primary);
}
.numbor1{
    border-radius: 50%;
    border: 1px solid lightgray;
    text-align: center;
}
.backnum{
 
    padding-left: 35px;
    padding-right: 35px;

}
:root {  
    --ion-safe-area-top: 20px;  
    --ion-safe-area-bottom: 22px;  
  }  
  .swiper-slide {  
    display: block;  
  }  
  ion-slide > h2 {  
    margin-top: 2.8rem;  
  }  
  ion-slide > img {  
    max-height: 50%;  
    max-width: 60%;  
    margin: 36px 0;  
  }  
  .mar{
      margin-top: 40px;
  }
  .vertical{
    background-color: var(--ion-color-primary);
    width: 2px;
    height: 20px;
    margin-left: 50%;
}
.horizonal{
    background-color: var(--ion-color-primary);
    width: 20px;
    height: 2px;
    margin-left: 31%;   
}
.highlight{
    text-decoration: underline;
    color: var(--ion-color-primary);
 
}