<ion-header [translucent]="true" class="header">
  <ion-img src="assets/logo.png" class="img"></ion-img>
  </ion-header>
<ion-content>

  <ion-grid>
    <ion-row class="row1">
      <ion-col size="4" class="content1">
      
        <ion-label class="menu" (click)="login()">Login</ion-label>
        <br>
        <br>
        <ion-label class="menu" (click)="moveToPsw()">Forget Password</ion-label>
        <br>
        <br>
        <ion-label class="menu" (click)="moveToId()">Forget Content ID</ion-label>
    <br>
    <br>
    <!-- <ion-label class="menu" (click)="Logout()">Logout</ion-label>
    <br> -->
    <ion-label class="menu">Contact Us</ion-label>
      </ion-col>
      <ion-col size="8" class="content2">
        <ion-row>
          <ion-col>
             
            <ion-label style="margin-left: -100px;" color="primary">Password change</ion-label>
            <div class="horizonal"></div>
            <div class="vertical"></div>
            <div class="backnum">
            <div class="numbor">1</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">2</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">3</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">4</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">5</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">6</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">7</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">8</div>
          </div>
          </ion-col>
          <ion-col class="mar">
            <div class="backnum">
            <div class="numbor1">9</div>
          </div>
          </ion-col>
        </ion-row>
        <ion-progress-bar value="0.1" class="bar1"></ion-progress-bar>
        <h4 style="text-align: center;font-weight: bold;color: red;">Please ensure that fields labelled in RED are filled in.</h4>
<div class="login">
  <ion-row class="wholeclass">
    <ion-col class="back" size="3" style="justify-content: right;">
      <ion-label style="color: red;">
      Current Password:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-input [ngStyle]="currentPass()" [(ngModel)]="vendorInfo.current_password" class="input"></ion-input>
      <ion-label *ngIf="vendorColor" style="color: red;">
        please check your current password!</ion-label>
       
    </ion-col>
  
  </ion-row>
  <br>
  <ion-row class="wholeclass">
    <ion-col class="back" size="3">
      <ion-label style="color: red;">
          New Password:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-input [(ngModel)]="vendorInfo.new_password" class="input"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row class="wholeclass">
    <ion-col class="back" size="3">
      <ion-label style="color: red;">
        Confirm New Password:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-input [ngStyle]="NewPassword()" [(ngModel)]="vendorInfo.confirm_new_password" class="input"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row class="back">
    <ion-col size="10">

    </ion-col>
    <ion-col size="2">
      <ion-button class="btnLogin" (click)="resetpassword()">Next
        <ion-icon name="chevron-forward"></ion-icon>
        <ion-icon name="chevron-forward" style="margin-left: -10px;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</div>

</ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-row class="wholeclass">
    <ion-col class="back" size="3">
      <ion-label style="color: red;">
        Confirm New Password:
      </ion-label>
    </ion-col>
    <ion-col size="9">
      <ion-input [(ngModel)]="emailId" class="input"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button class="btnLogin" (click)="resetpassword()">Next
    <ion-icon name="chevron-forward"></ion-icon>
    <ion-icon name="chevron-forward" style="margin-left: -10px;"></ion-icon>
  </ion-button> -->
</ion-content>

<!--<ion-slides pager="true" [options]="slideOpts">  
  
  <ion-slide>  
    <img src="assets/jtp_logo.png"/>  
    <h2>Welcome to the <b>JavaTpoint</b></h2>  
    <p>JavaTpoint offers Corporate Training, Summer Training, Online Training and Winter Training on Java, Android, Python, Oracle, PHP, and many more technologies.</p>  
  </ion-slide>  

  <ion-slide>  
    <img src="assets/ionic_logo1.png"/>  
    <h2>What is Ionic?</h2>  
    <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>  
  </ion-slide> 
  <ion-slide>  
    <img src="assets/ionic_logo1.png"/>  
    <h2>What is Ionic?</h2>  
    <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>  
  </ion-slide>   
  </ion-slides>-->

<ion-footer>
  <div class="footer"></div>
  <ion-row>
    <ion-col>
<ion-label style="margin-left: 5px;font-weight: bold;">© 2017 SES S.A. All rights reserved.</ion-label>
</ion-col>

 
  
<ion-col></ion-col>
<ion-label style="margin-top: 10px;">Follow Us</ion-label>
<ion-col>
  <ion-row>
  <ion-img src="assets/twitter.png" class="icon"></ion-img>
  
  <ion-img src="assets/facebook.png" class="icon"></ion-img>
  

  <ion-img src="assets/youtube.png" class="icon"></ion-img>

  <ion-img src="assets/linkedin.png" class="icon"></ion-img>

  <ion-img src="assets/instagram.png" class="icon"></ion-img> 
  <ion-label style="font-weight: bold;padding-left: 10px;">| Privacy</ion-label>
  <ion-label style="font-weight: bold;padding-left: 10px;">| Terms and Conditions</ion-label>
</ion-row>
</ion-col>
</ion-row>
</ion-footer>